{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "no-loops", "prettier"],
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-console": 1,
    "no-loops/no-loops": 2
  }
}
